<section>
  <!-- HEADER -->
  <div class="grid h-32 grid-cols-10 bg-cvg-400">
    <div
      class="flex items-center justify-between w-full col-span-8 col-start-2"
    >
      <h2 class="font-semibold text-white star">{{ sanitizeTitle() }}</h2>
      <a href="/" aria-label="Go home">
        <i
          class="flex items-center justify-center text-3xl text-right rounded-sm ri-home-5-line size-12 bg-cvg-100 hover:bg-cvg-200 hover:text-cvg-400"
        ></i>
      </a>
    </div>
  </div>

  <!-- CONTENT -->
  <div class="grid grid-cols-10 mt-8 mb-32">
    <div class="sticky grid grid-cols-8 col-span-8 col-start-2 gap-6 top-16">

      <!-- COL LEFT -->
    <div class="flex flex-col col-span-2 gap-4 *:text-sm *:leading-7">
      @if(slug == 'murals') {
        <p>Looking for unique, custom artwork? I offer bespoke art commissions tailored to your vision, created right here in the Cayman Islands. Whether you're seeking a personalized painting, a creative design, or an original piece of art, I bring your ideas to life with passion and precision.</p>
      } @else {
        <p>Transform your space with a custom mural designed and painted in the Cayman Islands. Whether it’s for a home, business, or public space, I create vibrant, personalized murals that bring your vision to life. Let’s collaborate to turn your walls into works of art.</p>
      }
        <button class="mr-auto btn">Get in touch</button>
    </div>

    <!-- COL RIGHT -->
     <div class="grid grid-cols-6 col-span-6 gap-6">
      @for(artwork of artworks; track $index) {
        <div class="relative flex flex-col w-full col-span-2 group">
          <img
          [src]="imageUrl(artwork.image.asset._ref) + '?q=25&fm=webp&w=400'"
          alt="artwork"
          class="object-contain w-full h-full mb-4 rounded-sm group-hover:opacity-80"
          />
          <p class="text-sm font-semibold text-cvg-200 group-hover:text-cvg-400">{{ artist }}</p>
          <p class="text-xs text-cvg-200 group-hover:text-cvg-400">{{ artwork.title }}</p>

          <div class="absolute invisible w-full h-full pt-6 cursor-pointer indent-0 group-hover:visible">
            <div class="flex items-center justify-center h-full">
              <p class="p-2 rounded-sm bg-cvg-100 hover:scale-110 hover:bg-cvg-200">Expand Image</p>
            </div>
          </div>
        </div>
      }
     </div>

    </div>
    </div>
</section>
