<app-content-wrapper
  title="Commissions"
  sectionCustomClass="pb-32 bg-cvg-400"
  url="gallery/digital-art"
  [darkMode]="true"
  >
  <div class="grid grid-cols-9 gap-6">
    <div class="flex flex-col col-span-4 gap-6 pb-24 pr-24">
      <p class="text-xs leading-6 text-justify text-white">
        Digital art is a contemporary form of artistic expression that leverages technology and digital tools. Artists use software, tablets, and other digital mediums to create visually stunning and innovative pieces. This medium allows for endless possibilities, blending traditional art techniques with the versatility of digital platforms. Digital art has transformed the way artists conceptualize and produce their work, offering new avenues for creativity and exploration in the ever-evolving landscape of artistic expression.
      </p>
      <button class="mr-auto btn clear">View All</button>
    </div>

    <div class="col-span-2">
      <img
      src="/assets/images/sample1.jpg"
      alt="Random Image from Unsplash"
      class="object-cover w-full h-48 rounded"
    />
    </div>
    <div class="col-span-3">
      <img
      src="/assets/images/sample2.jpg"
      alt="Random Image from Unsplash"
      class="object-cover w-full rounded h-96"
    />
    </div>

  </div>
</app-content-wrapper>
