<section *ngIf="artists.length > 0">
  <!-- HEADER -->
  <div class="grid h-32 grid-cols-10 bg-cvg-75">
    <div
      class="flex items-center justify-between w-full col-span-8 col-start-2"
    >
      <h2 class="font-semibold star">Artists</h2>
      <a href="/" aria-label="Go home">
        <i
          class="flex items-center justify-center text-3xl text-right rounded-sm ri-home-5-line size-12 bg-cvg-100 hover:bg-cvg-200 hover:text-cvg-400"
        ></i>
      </a>
    </div>
  </div>

    <!-- FILTERING -->
    <div class="flex justify-between px-[10%] border-b-[1px] py-6">

      <!-- SEARCH -->
       <div class="flex items-center gap-4">
        <i class="text-2xl ri-search-line text-cvg-450"></i>
        <input type="text"
          class="w-full px-4 py-2 border border-gray-300 rounded-sm focus:outline-none focus:ring-2 focus:ring-cvg-400 bg-none"
          placeholder="Search artist..." (keyup)="onSearchArtist($event)"/>
       </div>
    </div>

  <!-- CONTENT -->
  <div class="grid grid-cols-4 gap-6 px-[10%] pt-8">
    @for (a of (isSearching ? filteredArtists : artists); track $index) {
    <div class="flex flex-col gap-2 overflow-hidden rounded-sm cursor-pointer" *ngIf="a.picture?.asset">
        <a [href]="'artists/' + a._id" class="h-56 gap-2 p-2 bg-cvg-50 border-[1px] border-transparent hover:border-cvg-100 hover:bg-cvg-75">
          @if (a.picture?.asset?._ref) {
            <img [src]="imageUrl(a.picture?.asset?._ref ?? '') + '?q=75&fm=webp&w=800'" alt="image" class="object-contain w-full h-full" />
          }
        </a>
        <p class="px-2">{{a.name}} <span class="text-[8px]">{{a.country}}</span></p>
      </div>
    }
   </div>

   <!-- BOTTOM BAR -->
    @if (!isSearching && artists.length > 0) {
      <div class="flex justify-end gap-6 py-12 px-[10%] bg-cvg-50 mt-12">
        <p>Displaying {{artists.length}} artists</p>
      </div>
    }

</section>

<app-spinner *ngIf="artists.length <= 0"/>
