<section>
  <!-- HEADER -->
  <div class="grid h-32 grid-cols-10 bg-cvg-75">
    <div class="flex items-center justify-between w-full col-span-8 col-start-2">
      <h2 class="font-semibold star">Favorites</h2>
      <a href="/" aria-label="Go home">
        <i
          class="flex items-center justify-center text-3xl text-right rounded-sm ri-home-5-line size-12 bg-cvg-100 hover:bg-cvg-200 hover:text-cvg-400"></i>
      </a>
    </div>
  </div>

  <!-- CONTENT -->
  <div class="flex py-8 px-[10%] flex-col gap-6">
    @for(artwork of likedArtworks; track $index) {
    <div class="grid grid-cols-8 gap-6" (mouseover)="onHoverItem($index)">
      <a [href]="'artworks/' + artwork._id" class="flex items-center justify-center w-full bg-cvg-50">
        <img [src]="imageUrl(artwork.image.asset._ref) + '?q=75&fm=webp&w=200'" alt="image"
          class="relative z-10 object-contain w-auto h-24 p-2 transition-all duration-200 rounded cursor-pointer group-hover:opacity-70" />
      </a>
      <div class="flex flex-col col-span-2 *:text-[8px] items-start justify-center">
        <p class="capitalize !text-lg">{{artwork.title}}</p>
        <p class="font-semibold">{{artwork.artist.name}}</p>
        <p *ngIf="artwork.size?.height">{{artwork.size?.height}} x {{artwork.size?.width}}</p>
      </div>

      <button *ngIf="$index == currentIndex" class="h-auto my-auto btn small !bg-cvg-accent1 hover:!bg-cvg-400"
        (click)="onArtworkDelete(artwork._id)">Delete</button>
    </div>
    }
  </div>

  <div class="flex justify-end gap-6 py-12 px-[10%] bg-cvg-50 mt-12">
    <p>Displaying {{likedArtworks.length}} artworks</p>
  </div>
</section>
