@if (showSearch) {
  <section class="absolute inset-0 bg-cvg-475 backdrop-blur-sm z-[999]">

    <div class="flex items-start justify-between p-8">

      <form class="flex flex-col gap-2">
        <div class="flex items-center gap-4 font-semibold text-white">
          <i class="text-3xl ri-search-line"></i>
          <label class="pr-16 text-3xl">Search Artwork</label>
        </div>
        <input type="text" class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 bg-none" placeholder="Enter text here" />
      </form>
      <button class="btn" (click)="onCloseModal()">Close</button>
    </div>

  </section>
}
