<div
  class="relative flex flex-col justify-between w-full col-span-4 p-8 mt-auto overflow-hidden align-bottom bg-cover rounded-md cursor-pointer bg-cvg-50 min-h-72 group"
  [ngStyle]="{ 'background-image': imageUrl }"
>
  <div class="z-20 ml-auto cursor-pointer hover:scale-105">
    <a [href]="url">
      <i
      class="z-10 p-4 m-auto text-white rounded-md group-hover:text-cvg-400 group-hover:bg-cvg-100 ri-arrow-right-up-line bg-cvg-400 size-8"
      ></i>
    </a>
  </div>
  <h3 class="z-20 w-auto p-2 mr-auto text-left rounded-md group-hover:bg-cvg-100">
    {{ title }}
  </h3>

  <!-- OVERFLOW -->
   <div class="absolute top-0 left-0 z-0 w-full h-full bg-gradient-to-t from-cvg-75 to-transparent group-hover:from-cvg-50 group-hover:to-transparent"></div>
</div>
