<app-content-wrapper title="Furniture & Applied Arts" sectionCustomClass="bg-slate-100 pb-32" url="furniture-and-pplied-arts">
  <div class="grid grid-cols-9 gap-6">
    <div class="flex flex-col justify-center col-span-4">
      <p class="col-span-4 px-24 pb-24 text-xs leading-6 text-justify">
        Art furniture and applied arts represent the intersection of aesthetics and functionality in design. Art furniture goes beyond mere utility, transcending into sculptural forms that captivate the eye and evoke emotions. These pieces often challenge traditional notions of furniture, becoming expressions of the artist's vision.
      </p>
      <button class="mx-auto btn">View All</button>
    </div>
    <div class="col-span-5">
      <img
      src="/assets/images/sample1.jpg"
      alt="Random Image from Unsplash"
      class="object-cover w-full h-auto rounded max-h-96"
    />
    </div>
  </div>
</app-content-wrapper>
