@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Sora';
  src: url('./assets/fonts/Sora-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 800;
  font-style: normal;
  font-display: swap;
}

:root {
  --cvg-400: #1E1F21;
  --cvg-300: #545D68;
  --cvg-200: #C5CED6;
  --cvg-100: #E8EBEF;
}

body {
  font-family: 'Sora', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--cvg-400);
}

h1 {
  font-size: 5rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.8rem;
}

h6 {
  font-size: 0.6rem;
}

.bullet {
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: black;
}
