<app-content-wrapper
  title="Original Artworks"
  sectionCustomClass="pb-24 !pt-40"
  url="gallery/original-works"
  [hasNavigation]="true"
  (nextAction)="onNextImage()"
  (prevAction)="onPrevImage()"
>
  <div class="grid grid-cols-8 col-span-8 gap-6" (mouseleave)="onResetIndex()">
    @for(image of imagesToShow; track $index) {
    <div
      class="relative flex flex-col h-full gap-2 group min-h-36"
      (mouseover)="onHoverItem($index)"
    >
      <img
        [src]="imageUrl(image.image.asset._ref) + '?q=75&fm=webp&w=800'"
        alt="image"
        class="relative z-10 object-cover w-full h-auto transition-all duration-200 rounded group-hover:opacity-70"
        (click)="onOpenModal(image, $index)"
      />
      <div
        class="flex flex-col"
        [ngClass]="currentIndex == $index ? 'show' : 'hide'"
      >
        <a [href]="'/artworks/' + image._id" class="text-base hover:text-cvg-accent2">{{ image.title }}</a>
        <a [href]="'/artists/' + image.artist._id" class="text-xs font-semibold hover:text-cvg-accent2">{{ image.artist.name }}</a>
        <!-- <i
          class="absolute z-40 px-2 py-1 rounded-sm bg-cvg-200 left-2 top-2"
          [ngClass]="image.isLiked ? 'ri-heart-3-fill' : 'ri-heart-3-line'"
        ></i> -->
        <app-favorite-icon
          [isLiked]="image.isLiked"
          [artworkInfo]="{id: image._id, title: image.title}"

        />

      </div>
    </div>
    }
  </div>
</app-content-wrapper>
<app-image-enlarger [(openModal)]="openModal" [selectedImage]="selectedImage" (nextAction)="onSelectNextImage()"
(prevAction)="onSelectPrevImage()" />
