<app-content-wrapper title="Original Artworks" sectionCustomClass="pb-24 xl:!pt-40 !pt-20" url="artworks" [hasNavigation]="true"
  (nextAction)="onNextImage()" (prevAction)="onPrevImage()">
  <div class="grid grid-cols-2 col-span-8 gap-6 xl:grid-cols-8 md:grid-cols-4" (mouseleave)="onResetIndex()">


    @for(image of imagesToShow; track $index) {
    <div class="flex flex-col gap-1">

      <!-- IMAGE CONTAINER -->
      <div class="relative flex flex-col w-full h-48 group texture-3 border-[1px] border-cvg-75 bg-transparent hover:bg-cvg-75 rounded-sm"
        (mouseover)="onHoverItem($index)">

        <!-- IMG -->
        <img
          [src]="imageUrl(image.image.asset._ref) + '?q=75&fm=webp&w=600'" alt="image"
          class="relative z-10 object-contain w-full h-full p-2 transition-all duration-200 rounded cursor-pointer group-hover:opacity-70"
          (click)="onOpenModal(image, $index)"
        />
          <!-- FAV -->
        <app-favorite-icon
          [isLiked]="image.isLiked"
          [artworkInfo]="{id: image._id, title: image.title}"
          (refreshData)="reloadData()"
          [ngClass]="currentIndex == $index ? 'show' : 'hide'"
        />
      </div>

      <!-- ART INFO -->
      <div class="lg:flex flex-col items-end w-full gap-1 pt-2 text-right hidden" [ngClass]="currentIndex == $index ? 'show' : 'hide'">
        <a [href]="'/artworks/' + image._id" class="text-xs font-light hover:text-cvg-accent2 text-ellipsis ">{{ image.title }}</a>
        <a [href]="'/artists/' + image.artist._id" class="overflow-hidden text-xs font-semibold truncate hover:text-cvg-accent2 text-ellipsis">{{
          image.artist.name }}</a>
          @if (image.about?.mediums) {
            @for (medium of image.about?.mediums; track $index) {
              <p class="text-xs italic font-extralight">{{medium?.medium ?? ''}}</p>
            }
          }
      </div>

      <!-- ART INFO MOBILE -->
      <div class="lg:hidden flex flex-col items-end w-full gap-1 pt-2 text-right show">
        <a [href]="'/artworks/' + image._id" class="text-xs font-light hover:text-cvg-accent2 text-ellipsis ">{{ image.title }}</a>
        <a [href]="'/artists/' + image.artist._id" class="overflow-hidden text-xs font-semibold truncate hover:text-cvg-accent2 text-ellipsis">{{
          image.artist.name }}</a>
          @if (image.about?.mediums) {
            @for (medium of image.about?.mediums; track $index) {
              <p class="text-xs italic font-extralight">{{medium?.medium ?? ''}}</p>
            }
          }
      </div>
    </div>
    }


  </div>
</app-content-wrapper>
<app-image-enlarger [(openModal)]="openModal" [selectedImage]="selectedImage" (nextAction)="onSelectNextImage()"
  (prevAction)="onSelectPrevImage()" />
